<div class="container">
  <div class="page-header" style="margin-top: 75px;">
    <h1 ng-class="{'text-danger': status.red, 'text-warning': status.yellow, 'text-success': status.green }">{{now | date}} - {{status.red || status.yellow || status.green}}</h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h4>Mikva Calendar</h4>
      <div style="display:inline-block; min-height:350px;">
        <div ng-change="onSelect(dt)" uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12" ng-if="flows.length">
      <h4 class="text-center">Past Flows</h4>
      <ul class="list-group">
        <li ng-repeat="flow in flows | orderBy: '-sawBlood'" class="list-group-item">
          <i ng-show="flow.beforeSunset" class="fa fa-sun-o" aria-hidden="true"></i>
          <i ng-hide="flow.beforeSunset" class="fa fa-moon-o" aria-hidden="true"></i>
          <a ui-sref="flow({ flowId: flow._id })">{{flow.sawBlood | date}} <span ng-show="flow.diffInDays">({{flow.diffInDays}} days)</span></a>
          <span ng-show="flow.beforeSunset" class="label label-warning pull-right">Before Sunset</span>
          <span ng-hide="flow.beforeSunset" class="label label-default pull-right">After Sunset</span>
        </li>
      </ul>
      <button class="btn btn-default text-center" ng-click="export()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export</button>
    </div>
  </div>
</div>

<div class="modal fade" id="dateModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center"><button class="btn btn-link" ng-click="prev(dt)">&laquo;</button> {{dt | date}} <button class="btn btn-link" ng-click="next(dt)">&raquo;</button></h4>
      </div>
      <div class="modal-body">
        <div ng-show="!todaysEvents.length" class="row">
          <div class="col-md-12">
            <div class="alert alert-info">No event today. Click below to add a new Flow.</div>
          </div>
        </div>
        <div ng-repeat="event in todaysEvents">
          <div ng-show="event.status == 'red'" class="alert alert-danger">{{event.title}}</div>
          <div ng-show="event.status == 'yellow'" class="alert alert-warning">{{event.title}}</div>
          <div ng-show="event.status == 'green'" class="alert alert-success">{{event.title}}</div>
          <div ng-show="event.status == 'lightblue'" class="alert alert-info">{{event.title}}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-hide="addNew" type="button" ng-click="add()" class="btn btn-success pull-left"><i class="fa fa-plus" aria-hidden="true"></i> Add New Flow</button>
        <button ng-show="addNew" type="button" ng-click="addFlow(true)" class="btn btn-primary"><i class="fa fa-sun-o" aria-hidden="true"></i> Before Sunset</button>
        <button ng-show="addNew" type="button" ng-click="addFlow(false)" class="btn btn-primary"><i class="fa fa-moon-o" aria-hidden="true"></i> After Sunset</button>
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
