<div class="container">
  <div class="row" style="margin-top: 75px;">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <a class="btn btn-primary" ui-sref="account"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to account</a>
        <br />
        <br />
        <form name="flow_form" ng-submit="updateFlow()">
          <div class="form-group">
              <label class="control-label" for="sawBlood">Flow Date</label>
              <input type="date" name="sawBlood" ng-model="flow.sawBlood" class="form-control" />
          </div>
          <div class="form-group">
              <label class="control-label" for="hefsek">Hefsek Tahara</label>
              <input type="date" name="hefsek" ng-model="flow.hefsek" class="form-control" />
          </div>
          <div class="form-group">
              <label class="control-label" for="mikva">Mikva Night</label>
              <input type="date" name="mikva" disabled="disabled" ng-model="flow.mikva" class="form-control" />
          </div>
          <div class="form-group">
              <label class="control-label" for="day30">Day 30</label>
              <input type="date" name="day30" disabled="disabled" ng-model="flow.day30" class="form-control" />
          </div>
          <div class="form-group">
              <label class="control-label" for="day31">Day 31</label>
              <input type="date" name="day31" disabled="disabled" ng-model="flow.day31" class="form-control" />
          </div>
          <div class="form-group">
              <label class="control-label" for="haflaga">Haflaga ({{flow.diffInDays}} days)</label>
              <input type="date" name="haflaga" disabled="disabled" ng-model="flow.haflaga" class="form-control" />
          </div>
          <div class="form-group">
              <div class="checkbox">
                <label>
                  <input ng-model="flow.beforeSunset" type="checkbox"> Before Sunset?
                </label>
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Update Flow</button>
          <button type="button" ng-click="delete(flow)" class="btn btn-danger">Delete Flow</button>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete Flow</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <label>Are you sure you want to delete this flow? This may mess up some calculations. You can probably just change the flow date of the existing one.</label>
            <button type="button" ng-click="deleteFlow()" class="btn btn-danger"><i class="fa fa-delete" aria-hidden="true"></i> Delete</button>
            <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-cancel" aria-hidden="true"></i> Cancel</button>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
