<div class="container">
  <div class="page-header" style="margin-top: 75px;">
    <h1>Hello World</h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <form name="flow_form" ng-submit="updateFlow()">
          <div class="form-group">
              <label class="control-label" for="sawBlood">Flow Date</label>
              <input type="date" name="sawBlood" ng-model="flow.sawBlood" class="form-control" />
          </div>
          <div class="form-group">
              <label class="control-label" for="hefsek">Hefsek Tahara</label>
              <input type="date" name="hefsek" ng-model="flow.hefsek" class="form-control" />
          </div>
          <div class="form-group">
              <label class="control-label" for="mikva">Mikva Night</label>
              <input type="date" name="mikva" ng-model="flow.mikva" class="form-control" />
          </div>
          <div class="form-group">
              <label class="control-label" for="day30">Day 30</label>
              <input type="date" name="day30" ng-model="flow.day30" class="form-control" />
          </div>
          <div class="form-group">
              <label class="control-label" for="day31">Day 31</label>
              <input type="date" name="day31" ng-model="flow.day31" class="form-control" />
          </div>
          <div class="form-group">
              <div class="checkbox">
                <label>
                  <input ng-model="flow.beforeSunset" type="checkbox"> Before Sunset?
                </label>
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Update Flow</button>
      </form>
    </div>
  </div>
</div>
