<div class="container text-center">
  <div style="margin-top: 75px;">
    <h2>Going to the mikva <i class="fa fa-tint" aria-hidden="true"></i></h2>
    <br />
    <h2>Just got a whole lot easier <i class="fa fa-child" aria-hidden="true"></i></h2>
    <br />
    <h2>Securely and privately track your important dates <i class="fa fa-calendar" aria-hidden="true"></i></h2>
    <br />
    <p ng-show="!isLoggedIn()"><a class="btn btn-primary btn-lg" ui-sref="login" role="button"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i> Sign up</a></p>
    <p ng-show="isLoggedIn()"><a class="btn btn-primary btn-lg" ui-sref="account" role="button"><i class="fa fa-cloud" aria-hidden="true"></i> Go to my Account</a></p>
  </div>
</div>
