<div class="container text-center">
  <div style="margin-top: 75px;">
    <h2>Going to the mikva <i class="fa fa-tint" aria-hidden="true"></i></h2>
    <br />
    <h2>Just got a whole lot easier <i class="fa fa-child" aria-hidden="true"></i></h2>
    <br />
    <h2>Securely and privately track your important dates <i class="fa fa-calendar" aria-hidden="true"></i></h2>
    <br />
    <p ng-if="!isLoggedIn()">
    	<a href="/auth/google" class="btn btn-primary btn-lg"><i class="fa fa-google-plus"></i> Login with Google</a>
    	<a ui-sref="login" class="btn btn-default btn-lg"><i class="fa fa-tint"></i> Login with Mikva</a>
    </p>
    <p ng-if="isLoggedIn()"><a ui-sref="account" class="btn btn-primary btn-lg"><i class="fa fa-cloud"></i> Go to my Account</a></p>
</div>
