<div class="container">
  <div class="page-header" style="margin-top: 75px;">
    <h3>Login to Mikva</h3>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <form ng-submit="login()" name="login_form">
        <div class="form-group">
          <label class="control-label" for="email">Username</label>
          <input type="text" ng-model="username" class="form-control" id="email">
          <!--span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span-->
          <label class="control-label" for="password">Password</label>
          <input type="password" ng-model="password" class="form-control" id="password">
          <!--span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span-->
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button> or
        <a href="/auth/google" class="btn btn-default"><i class="fa fa-google-plus"></i> Login with Google</a>
      </form>
      <br />
      <div class="modal-footer">
        New To Mikva?
        <a ui-sref="register" class="btn btn-primary">Register</a>
      </div>
    </div>
  </div>
</div>
