.green button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.yellow button span {
  background-color: yellow;
  border-radius: 32px;
  color: black;
}
.red button span {
  background-color: red;
  border-radius: 32px;
  color: black;
}
.orange button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
